@charset "UTF-8";

@-webkit-keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.buttons {
    display: flex;
    justify-content: center;
}

nav {
    width: 240px;
}

nav a {
    display: block;
    font-family: 'Source Code Pro';
    font-weight: 200;
    margin: 2px 0px;
    text-decoration: none;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    background: #333;
    color: rgba(255, 255, 255, 0.7);
    padding: 7px 10px;
    border-radius: 3px;
    transition: background .3s, padding .3s;
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.7);
}

nav a:hover {
    background: #d66;
    color: white;
    padding: 7px 5px 7px 15px;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}

nav a.active {
    background: #f66;
    color: white;
    padding: 7px 5px 7px 15px;
    transition: background 0s;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    cursor: default;
}

nav a.active.loading:after {
    content: '→';
    position: absolute;
    width: 40px;
    height: 25px;
    line-height: 25px;
    right: 0px;
    text-align: center;
    -webkit-animation: blink .65s linear infinite;
    animation: blink .65s linear infinite;
}

nav a.hit {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}